@model SecureAssetManager.Models.Rusa

@{
    ViewData["Title"] = "Jurasico 14";
}

<h1 style="font-size: 2em;">Jurasico 14</h1>

<div id="container">
    <div id="left-side" class="text-center">
        <img src="~/img/escondido.jpg" alt="Imagen de dinosaurio" class="img-fluid" style="max-width: 600px; margin: 0 auto;" />
    </div>
    <div id="right-side">
        <p style="font-size: 1.8em;">
            Encuentran el bunker donde está toda la comida, pero para abrirlo necesitan un código. El dinosaurio los acecha, aumentando el peligro y la tensión.
        </p>
    </div>
</div>

<div class="text-right mt-3">
    <a asp-controller="Rusas" asp-action="Index" style="float: right;">Página siguiente</a>
</div>
