@model SecureAssetManager.Models.Dieta

@{
    ViewData["Title"] = "Dieta 11";
}

<h1>Jurasico 11</h1>

<div id="container">
    <div id="left-side" class="text-center">
        <img src="~/images/informacion.jpg" alt="Imagen de dinosaurio" class="img-fluid" style="max-width: 300px; margin: 0 auto;" />
    </div>
    <div id="right-side">
        <p>
            El Ankylosaurus se destacó por su estilo de vida adaptado a la defensa y la herbivoría. Su armadura ósea distintiva y la maza en la cola sugerían un mecanismo de defensa activo, utilizando la cola como un arma contra posibles depredadores. Su dentición y estructura mandibular indicaban una dieta herbívora, adaptada para cortar y triturar material vegetal.

        </p>
    </div>
</div>

<div class="text-left mt-3">
    <a asp-controller="Control" asp-action="Create" style="float: left;">Página anterior</a>
</div>


<div class="text-right mt-3">
    <a asp-controller="Montaña" asp-action="Create" style="float: right;">Página siguiente</a>
</div>


