@model SecureAssetManager.Models.Dieta

@{
    ViewData["Title"] = "Dieta 11";
}

<h1 style="font-size: 2em;">Jurasico 11</h1>

<div id="container">
    <div id="left-side" class="text-center">
        <img src="~/images/informacion.jpg" alt="Imagen de dinosaurio" class="img-fluid" style="max-width: 600px; margin: 0 auto;" />
    </div>
    <div id="right-side">
        <p style="font-size: 1.8em;">
            El Ankylosaurus, con su armadura ósea y cola de martillo, era un maestro en la defensa. Su dieta herbívora y adaptaciones defensivas lo convirtieron en un superviviente formidable en la era de los dinosaurios.
        </p>
    </div>
</div>

<div>
    <form method="post">
        <div class="d-flex justify-content-end">
            <button class="btn btn-info" type="submit" name="accion" value="Página siguiente">Página siguiente</button>
        </div>
    </form>
</div>
