@model SecureAssetManager.Models.Mapa

@{
    ViewData["Title"] = "Jurasico 11.1";
}

<h1 style="font-size: 2em;">Jurasico 11</h1>

<div id="container">
    <div id="left-side" class="text-center">
        <img src="~/img/tera.jpg" alt="Imagen de dinosaurio" class="img-fluid" style="max-width: 600px; margin: 0 auto;" />
    </div>
    <div id="right-side">
        <p style="font-size: 1.8em;">
            Los terópodos fueron un grupo diverso de dinosaurios carnívoros bípedos. Eran depredadores ágiles y activos que cazaban solos o en grupos, algunos también eran carroñeros.
        </p>
    </div>
</div>

<div>
    <form method="post">
        <div class="d-flex justify-content-end">
            <button class="btn btn-info" type="submit" name="accion" value="Página siguiente">Página siguiente</button>
        </div>
    </form>
</div>
