@model IEnumerable<SecureAssetManager.Models.Mapa>

@{
    ViewData["Title"] = "Jurasico 13";
}

<h1 style="font-size: 2em;">Jurasico 13</h1>

<div id="container">
    <div id="left-side" class="text-center">
        <img src="~/img/olor.jpg" alt="Imagen de dinosaurio" class="img-fluid" style="max-width: 600px; margin: 0 auto;" />
    </div>
    <div id="right-side">
        <p style="font-size: 1.8em;">
            Deciden bajar por los andamios al notar que un dinosaurio los acecha en el juego, pero Darius decide limpiarse el olor que los delata.
        </p>
    </div>
</div>

<div class="text-right mt-3">
    <a asp-controller="Rusas" asp-action="Create" style="float: right;">Página siguiente</a>
</div>