@model SecureAssetManager.Models.Risk

@{
    ViewData["Title"] = "Jurasico 6";
}

<h2 style="font-size: 2em;">@ViewData["Title"]</h2>

<div id="container" style="display: flex; justify-content: center;">
    <div class="img-container" style="margin-right: 20px;">
        <img src="~/images/huyen.jpg" alt="Imagen de dinosaurio" class="img-fluid" style="max-width: 600px;" />
    </div>
    <div class="img-container">
        <img src="~/images/observar.jpg" alt="Imagen de dinosaurio" class="img-fluid" style="max-width: 600px;" />
    </div>
</div>

<div id="right-side">
    <p style="font-size: 1.5em;">
        Logran evadir el peligro y llegan a un campamento.

        El chico, enfrentando la tecnología antigua, revela su incapacidad para encenderla, mientras la chica muestra su aprecio por la tecnología retro. Juntos, visualizan un video donde tres velocirraptores se enfrentan por la comida, y un cuarto velocirraptor utiliza una piedra para distraerlos. Un científico solicita a Owen Greidy un pergamino, pero termina descartando una hoja que debía ser entregada. La especulación sobre el almacenamiento de alimentos inicia un debate sobre si deberían ingresar a la jaula de raptores para obtener información de la hoja desechada.
    </p>
</div>


<div class="text-right mt-3">
    <a asp-controller="Threat" asp-action="Index" style="float: right; font-size: 1.5em;">Página siguiente</a>
</div>

<style>
    .img-container {
        display: inline-block;
    }
</style>
