@model SecureAssetManager.Models.Risk

@{
    ViewData["Title"] = "Jurasico 6";
}

<h2 style="font-size: 2em;">@ViewData["Title"]</h2>

<div id="container" style="display: flex; justify-content: center;">
    <div class="img-container" style="margin-right: 20px;">
        <img src="~/images/retro.jpg" alt="Imagen de dinosaurio" class="img-fluid" style="max-width: 550px;" />
    </div>
    <div class="img-container">
        <img src="~/images/arroja.jpg" alt="Imagen de dinosaurio" class="img-fluid" style="max-width: 550px;" />
    </div>
</div>

<div id="right-side">
    <p style="font-size: 2em;">
        Logran evadir el peligro. El chico, incapaz de encender la camara antigua, y Kenji, aficionado a la tecnología retro, visualizan juntos un video de velocirraptores compitiendo por comida. Un científico pide a Owen Greidy un pergamino, pero este descarta una hoja crucial. Surge debate sobre ingresar a la jaula de raptores para recuperarla.
    </p>
</div>


<div>
    <form method="post">
        <div class="d-flex justify-content-end">
            <button class="btn btn-info" type="submit" name="accion" value="Página siguiente">Página siguiente</button>
        </div>
    </form>
</div>

<style>
    .img-container {
        display: inline-block;
    }
</style>
