@model IEnumerable<SecureAssetManager.Models.Risk>

@{
    ViewData["Title"] = "Jurasico 5";
}

<h2>@ViewData["Title"]</h2>

<style>
    #container {
        display: flex;
        justify-content: space-between;
    }

    #center p, #left-side a, #right-side a {
        font-size: 2em; /* Ajusta este valor según tus necesidades */
    }
</style>

<div id="container">
    <div id="left-side" class="text-center">
        <img src="~/images/esconder.jpg" alt="Imagen de dinosaurio 1" class="img-fluid" style="max-width: 500px; margin: 0 auto;" />
        <a class="btn btn-primary mb-3 custom-text-color" asp-action="Create" asp-controller="Risk">Esperar</a>
    </div>
    <div id="center" class="text-center">
        <p>
            Tras caminar, encuentran un dinosaurio pacífico que los lleva a su manada. Los terodáctilos causan caos. Se esconden en un árbol, debaten esperar o huir.
        </p>
    </div>
    <div id="right-side" class="text-center">
        <img src="~/images/correr.jpg" alt="Imagen de dinosaurio 2" class="img-fluid" style="max-width: 500px; margin: 0 auto;" />
        <a class="btn btn-primary mb-3 custom-text-color" asp-action="Create" asp-controller="Conductas">Correr</a>
    </div>
</div>
