@model SecureAssetManager.Models.Risk

@{
    ViewData["Title"] = "Jurasico 10";
}

<h2 style="font-size: 2em;">@ViewData["Title"]</h2>

<div id="container" style="display: flex; justify-content: space-between;">
    <div id="left-side" class="text-center">
        <img src="~/images/conducta.jpg" alt="Imagen de dinosaurio 1" class="img-fluid" style="max-width: 450px; margin: 0 auto;" />
        <a class="btn btn-primary mb-3 custom-text-color" asp-action="Create" asp-controller="Vulnerability" style="font-size: 1.5em;">Conducta</a>
    </div>
    <div id="center" class="text-center">
        <p style="font-size: 1.6em;">
            Deciden dirigirse a "Aventura misteriosa", donde una máquina de doble opción sobre dieta y conducta les presenta un video informativo sobre la alimentación de dinosaurios
        </p>
    </div>
    <div id="right-side" class="text-center">
        <img src="~/images/dieta.jpg" alt="Imagen de dinosaurio 2" class="img-fluid" style="max-width: 450px; margin: 0 auto;" />
        <a class="btn btn-primary mb-3 custom-text-color" asp-action="Create" asp-controller="Dietas" style="font-size: 1.5em;">Dieta</a>
    </div>
</div>