@model SecureAssetManager.Models.Video

@{
    ViewData["Title"] = "Jurasico 17";
}

<h2>@ViewData["Title"]</h2>

<style>
    #container {
        display: flex;
        justify-content: space-between;
    }

    #right-side p {
        font-size: 2em; /* Ajusta este valor según tus necesidades */
    }
</style>

<div id="container">
    <div id="left-side" class="text-center">
        <img src="~/img/win.jpg" alt="Imagen de dinosaurio" class="img-fluid" style="max-width: 500px; margin: 0 auto;" />
    </div>
    <div id="right-side">
        <p>
            Les encantó la idea de quedarse, pero ¡ups! Era un poco pequeño para todos. Aun así, decidieron quedarse por un tiempo. Pero, ¿sabes qué? Algún día tendrán que aventurarse fuera y explorar más.
        </p>
    </div>
</div>


<div>
    <form method="post">
        <div class="d-flex justify-content-end">
            <button class="btn btn-info" type="submit" name="accion" value="Página siguiente">Página siguiente</button>
        </div>
    </form>
</div>
