@{
    ViewData["Title"] = "Política de Privacidad";
}

<h2>Política de Privacidad</h2>
<p>Esta Política de Privacidad describe cómo recopilamos, utilizamos y protegemos la información personal de los usuarios de nuestro proyecto de cuentos interactivos. Al utilizar nuestra aplicación o sitio web, aceptas las prácticas descritas en esta política.</p>
<p>No compartimos su información con terceros a menos que sea necesario para proteger nuestros activos de información y garantizar la seguridad de nuestros usuarios. Además, tomamos medidas de seguridad razonables para proteger su información de pérdida, mal uso y acceso no autorizado.</p>
<p>Si tiene alguna pregunta o inquietud sobre nuestra política de privacidad, no dude en contactarnos.</p>
<p>Gracias por utilizar nuestro sitio web.</p>