@model SecureAssetManager.Models.Atorado

@{
    ViewData["Title"] = "Jurasico 9.3";
}

<h2 style="font-size: 2em;">@ViewData["Title"]</h2>

<div id="container" style="display: flex; justify-content: space-between;">
    <div id="left-side" class="text-center">
        <img src="~/images/duerme.jpg" alt="Imagen de dinosaurio 1" class="img-fluid" style="max-width: 450px; margin: 0 auto;" />
        <a class="btn btn-primary mb-3 custom-text-color" asp-action="Index" asp-controller="Atoradoes" style="font-size: 1.5em;">Pasar en silecio</a>
    </div>
    <div id="center" class="text-center">
        <p style="font-size: 1.5em;">
            Darius enfrenta una decisión: quedarse en silencio o retroceder, pues un dinosaurio con cuernos se acerca.
        </p>
    </div>
    <div id="right-side" class="text-center">
        <img src="~/images/regreso.jpg" alt="Imagen de dinosaurio 2" class="img-fluid" style="max-width: 450px; margin: 0 auto;" />
        <a class="btn btn-primary mb-3 custom-text-color" asp-action="Create" asp-controller="Vulnerability" style="font-size: 1.5em;">Retomar los pasos</a>
    </div>
</div>
