@model IEnumerable<SecureAssetManager.Models.Atorado>

@{
    ViewData["Title"] = "9.4";
}

<h2>@ViewData["Title"]</h2>

<style>
    #container {
        display: flex;
        justify-content: space-between;
    }

    #right-side p {
        font-size: 2em; /* Ajusta este valor según tus necesidades */
    }
</style>

<div id="container">
    <div id="left-side" class="text-center">
        <img src="~/images/no.jpg" alt="Imagen de dinosaurio" class="img-fluid" style="max-width: 500px; margin: 0 auto;" />
    </div>
    <div id="right-side">
        <p>
            lo cual hace que puedan salir corriendo y los dos dinosaurios se quedaron peliando. hasta que la chica logran hallar la salida y al mismo tiempo hallan un mapa pegado a la pared.
        </p>
    </div>
</div>


<div class="text-right mt-3">
    <a asp-controller="Risk" asp-action="Create" style="float: right;">Página siguiente</a>
</div>