@model IEnumerable<SecureAssetManager.Models.Atorado>

@{
    ViewData["Title"] = "Jurasico 9.4";
}

<h2>@ViewData["Title"]</h2>

<style>
    #container {
        display: flex;
        justify-content: space-between;
    }

    #right-side p {
        font-size: 2em; /* Ajusta este valor según tus necesidades */
    }
</style>

<div id="container">
    <div id="left-side" class="text-center">
        <img src="~/img/mapa.jpg" alt="Imagen de dinosaurio" class="img-fluid" style="max-width: 500px; margin: 0 auto;" />
    </div>
    <div id="right-side">
        <p>
            Los 6 amigos corren mientras los dinosaurios pelean. Encuentran una salida y un mapa en la pared que les muestra el camino.
        </p>
    </div>
</div>


<div>
    <form method="post">
        <div class="d-flex justify-content-end">
            <button class="btn btn-info" type="submit" name="accion" value="Página siguiente">Página siguiente</button>
        </div>
    </form>
</div>