@model IEnumerable<SecureAssetManager.Models.Conducta>

@{
    ViewData["Title"] = "Jurasico 8.1";
}

<h2 style="font-size: 2em;">@ViewData["Title"]</h2>

<div id="container" style="display: flex; justify-content: space-between;">
    <div id="left-side" class="text-center">
        <img src="~/images/camara.jpg" alt="Imagen de dinosaurio 1" class="img-fluid" style="max-width: 450px; margin: 0 auto;" />
        <a class="btn btn-primary mb-3 custom-text-color" asp-action="Create" asp-controller="Fin" style="font-size: 1.5em;">Camara de seguridad</a>
    </div>
    <div id="center" class="text-center">
        <p style="font-size: 1.5em;">
            Adentrándose en el corral, encuentran la carta desechada que revela que están siendo buscados.
            La incertidumbre sobre si "Aventura misteriosa" es un juego se plantea.
            La chica sugiere buscar información en el libro con datos secretos del parque,
            optando entre la entrada principal o revisar las cámaras de seguridad
        </p>
    </div>
    <div id="right-side" class="text-center">
        <img src="~/images/pasillo.jpg" alt="Imagen de dinosaurio 2" class="img-fluid" style="max-width: 450px; margin: 0 auto;" />
        <a class="btn btn-primary mb-3 custom-text-color" asp-action="Create" asp-controller="Vulnerability" style="font-size: 1.5em;">Calle Principal</a>
    </div>
</div>