@model SecureAssetManager.Models.Control

@{
    ViewData["Title"] = "Jurásico 3";
}

<h2>@ViewData["Title"]</h2>

<style>
    #container {
        display: flex;
        justify-content: space-between;
    }

    #center p {
        font-size: 2em; /* Ajusta este valor según tus necesidades */
    }
</style>

<div id="container">
    <div id="left-side" class="text-center">
        <img src="~/images/arbol.jpg" alt="Imagen de dinosaurio 1" class="img-fluid" style="max-width: 500px; margin: 0 auto;" />
        <a class="btn btn-primary mb-3 custom-text-color" asp-action="Index" asp-controller="Control">Arbol</a>
    </div>
    <div id="center" class="text-center">
        <p>
            Pero un dinosaurio más grande agarra al primero y Darius huye hasta un acantilado.Darius rápidamente decide lanzarse a una liana o a un árbol.
        </p>
    </div>
    <div id="right-side" class="text-center">
        <img src="~/images/liana.jpg" alt="Imagen de dinosaurio 2" class="img-fluid" style="max-width: 500px; margin: 0 auto;" />
        <a class="btn btn-primary mb-3 custom-text-color" asp-action="Index" asp-controller="Control">Liana</a>
    </div>
</div>
