@model SecureAssetManager.Models.Control

@{
    ViewData["Title"] = "Jurásico";
}

<h2>@ViewData["Title"]</h2>

<div id="container" style="display: flex; justify-content: space-between;">
    <div id="left-side" class="text-center">
        <img src="~/images/arbol.jpg" alt="Imagen de dinosaurio 1" class="img-fluid" style="max-width: 300px; margin: 0 auto;" />
        <a class="btn btn-primary mb-3 custom-text-color" asp-action="Create" asp-controller="Risk">Arbol</a>
    </div>
    <div id="center" class="text-center">
        <p>
            Pero un dinosaurio más grande agarra al primero y Darius huye hasta un acantilado.Darius rápidamente decide lanzarse a una liana o a un árbol.
        </p>
    </div>
    <div id="right-side" class="text-center">
        <img src="~/images/liana.jpg" alt="Imagen de dinosaurio 2" class="img-fluid" style="max-width: 300px; margin: 0 auto;" />
        <a class="btn btn-primary mb-3 custom-text-color" asp-action="Create" asp-controller="Threat">Liana</a>
    </div>
</div>

