@model IEnumerable<SecureAssetManager.Models.Control>

@{
    ViewData["Title"] = "Jurasico 4";
}

<h2>@ViewData["Title"]</h2>

<style>
    #container {
        display: flex;
        justify-content: space-between;
    }

    #right-side p {
        font-size: 2em; /* Ajusta este valor según tus necesidades */
    }
</style>

<div id="container">
    <div id="left-side" class="text-center">
        <img src="~/images/comentando.jpg" alt="Imagen de dinosaurio" class="img-fluid" style="max-width: 500px; margin: 0 auto;" />
    </div>
    <div id="right-side">
        <p>
            En su alejamiento del campamento, se topan con un árbol alto que les regala frutas. Sin embargo, una ráfaga de viento los desvía y se encuentran en un nido rodeado de huevos.
        </p>
    </div>
</div>


<div class="text-right mt-3">
    <a asp-controller="Risk" asp-action="Index" style="float: right;">Página siguiente</a>
</div>
