@model SecureAssetManager.Models.Threat

@{
    ViewData["Title"] = "Jurásico 2";
}

<h1>@ViewData["Title"]</h1>

<hr />

<style>
    #container {
        display: flex;
        justify-content: space-between;
    }

    #left-side {
        width: 40%;
    }

        #left-side img {
            max-width: 100%; /* Ajusta este valor según tus necesidades */
        }

    #right-side {
        width: 55%;
    }

        #right-side p {
            font-size: 2em; /* Ajusta este valor según tus necesidades */
        }
</style>

<div id="container">
    <div id="left-side" class="text-center">
        <img src="~/images/despierta.jpg" alt="Imagen de dinosaurio" class="img-fluid" />
    </div>
    <div id="right-side">
        <p>
            Un chico se despierta desconcertado cerca de lo que parece ser unos huevos de dinosaurio, los cuales tienen mal olor. Se asusta por un dinosaurio que estaba a su costado y grita asustadamente.
        </p>
    </div>
</div>

<div>

    <form method="post">
        <button class="btn btn info" type="submit" asp-route-accion="Página anterior">Página anterior</button>
        <button class="btn btn info" type="submit" asp-route-accion="Página siguiente">Página siguient</button>
    </form>
</div>
