@model SecureAssetManager.Models.Threat

@{
    ViewData["Title"] = "Jurásico 2";
}

<h1>@ViewData["Title"]</h1>

<hr />

<div id="container">
    <div id="left-side" class="text-center">
        <img src="~/images/nido.jpg" alt="Imagen de dinosaurio" class="img-fluid" style="max-width: 300px; margin: 0 auto;" />
    </div>
    <div id="right-side">
        <p>
            Un chico se despierta desconcertado cerca de lo que parece ser unos huevos de dinosaurio, los cuales tienen mal olor. Se asusta por un dinosaurio que estaba a su costado y grita asustadamente.
        </p>
    </div>
</div>

<div class="text-left mt-3">
    <a asp-controller="Asset" asp-action="Create" style="float: left;">Página anterior</a>
</div>


<div class="text-right mt-3">
    <a asp-controller="Control" asp-action="Create" style="float: right;">Página siguiente</a>
</div>

