@{
    ViewData["Title"] = "Jurasico 7";
}

@model IEnumerable<SecureAssetManager.Models.Threat>

<h2 style="font-size: 2em;">@ViewData["Title"]</h2>

<div id="container" style="display: flex; justify-content: space-between;">
    <div id="left-side" class="text-center">
        <img src="~/images/llevar.jpg" alt="Imagen de dinosaurio 1" class="img-fluid" style="max-width: 450px; margin: 0 auto;" />
        <a class="btn btn-primary mb-3 custom-text-color" asp-action="Index" asp-controller="Vulnerability" style="font-size: 1.5em;">Llevar</a>
    </div>
    <div id="center" class="text-center">
        <p style="font-size: 1.5em;">
            La propuesta de Ben de dirigirse al corral con Bumpy surge como una alternativa para evitar más sobras de comida y frutas. Darius debe decidir si llevar a Bumpy o lo deja
        </p>
    </div>
    <div id="right-side" class="text-center">
        <img src="~/images/quedar.jpg" alt="Imagen de dinosaurio 2" class="img-fluid" style="max-width: 450px; margin: 0 auto;" />
        <a class="btn btn-primary mb-3 custom-text-color" asp-action="Create" asp-controller="Control" style="font-size: 1.5em;">Dejar</a>
    </div>
</div>
