@model SecureAssetManager.Models.Codigo

@{
    ViewData["Title"] = "Jurasico 16.2";
}

<h2 style="font-size: 2em;">@ViewData["Title"]</h2>

<div id="container" style="display: flex; justify-content: center;">
    <div class="img-container" style="margin-right: 20px;">
        <img src="~/img/dinoout.jpeg" alt="Imagen de dinosaurio" class="img-fluid" style="max-width: 550px;" />
    </div>
    <div class="img-container">
        <img src="~/img/bunker.jpg" alt="Imagen de dinosaurio" class="img-fluid" style="max-width: 550px;" />
    </div>
</div>

<div id="right-side">
    <p style="font-size: 2em;">
        ¡Lo lograron! Abrieron el bunker y escaparon del dinosaurio. ¡Qué alivio! Dentro encontraron un lugar acogedor con todo lo que necesitaban para estudiar y dormir.
    </p>
</div>


<div>
    <form method="post">
        <div class="d-flex justify-content-end">
            <button class="btn btn-info" type="submit" name="accion" value="Página siguiente">Página siguiente</button>
        </div>
    </form>
</div>

<style>
    .img-container {
        display: inline-block;
    }
</style>
