@model IEnumerable<SecureAssetManager.Models.Codigo>

@{
    ViewData["Title"] = "Jurasico 16.1";
}

<h2>@ViewData["Title"]</h2>

<style>
    #container {
        display: flex;
        justify-content: space-between;
    }

    #right-side p {
        font-size: 2em; /* Ajusta este valor según tus necesidades */
    }
</style>

<div id="container">
    <div id="left-side" class="text-center">
        <img src="~/images/no.jpg" alt="Imagen de dinosaurio" class="img-fluid" style="max-width: 500px; margin: 0 auto;" />
    </div>
    <div id="right-side">
        <p>
            Los dinosaurios los atraparon, sin dejarles escapar. Darius aprendió que en momentos peligrosos, es crucial mantener la calma y planificar bien.
        </p>
    </div>
</div>


<div>
    <form method="post">
        <div class="d-flex justify-content-end">
            <button class="btn btn-info" type="submit" name="accion" value="Página siguiente">Pagina Siguiente</button>
        </div>
    </form>
</div>
