@model IEnumerable<SecureAssetManager.Models.Cable>

@{
    ViewData["Title"] = "Index";
}

<hr />

<div id="container">
    <div id="left-side" class="text-center">
        <img src="~/images/off.jpg" alt="Imagen de dinosaurio" class="img-fluid" style="max-width: 600px; margin: 0 auto;" />
    </div>
    <div id="right-side">
        <p style="font-size: 1.8em;">
            Hasta que encuentra la caja de distribucion y ve que los cables han sido
            destruidos por los cazadores furtivos aproposito. y debemos conectar los
            cables para que la elctrecidad pueda volver a fluir, asegurandonos que los
            fusibles esten en off para no electrocutarnos.
        </p>
    </div>
</div>

<div>
    <form method="post">
        <div class="d-flex justify-content-end">
            <button class="btn btn-info" type="submit" name="accion" value="Página siguiente">Página siguiente</button>
        </div>
    </form>
</div>



<style>
    .img-container {
        display: inline-block;
    }
</style>
