@model SecureAssetManager.Models.Luz

@{
    ViewData["Title"] = "Create";
}



<hr />



<div id="container">
    <div id="left-side" class="text-center">
        <img src="~/iamges/quemado.jpg" alt="Imagen de dinosaurio" class="img-fluid" style="max-width: 600px; margin: 0 auto;" />
    </div>
    <div id="right-side">
        <p style="font-size: 1.8em;">
            lo que hace que se prenda la luz de acima de la caja de electricidad y se emocione, ya que hara que los animales de la reserva se puedan escapar.

        </p>
    </div>
</div>

<div>
    <form method="post">
        <div class="d-flex justify-content-end">
            <button class="btn btn-info" type="submit" name="accion" value="Página siguiente">Página siguiente</button>
        </div>
    </form>
</div>
