@model SecureAssetManager.Models.Asset

@{
    ViewData["Title"] = "Libreria";
}

<h1>@ViewData["Title"]</h1>

<hr />

<style>
    #container {
        display: flex;
        justify-content: space-between;
    }

    #left-side {
        width: 40%;
    }

    #right-side {
        width: 55%;
    }

    img {
        max-width: 100%;
        height: auto;
    }
</style>

<div id="container">
    <div id="left-side">
        <h1>Jurassic World: Campamento Cretácico - Aventura misteriosa</h1>
        <img src="~/images/jurasico.jpg" alt="Descripción de la imagen" />
    </div>
    <div id="right-side">
        <p>
            "Jurassic World: Campamento Cretácico - Aventura misteriosa" es una aventura interactiva en donde tú, como espectador, tomas decisiones vitales para que el grupo de personajes sobreviva a los peligros de la isla Nublar.

            La historia se desarrolla en paralelo a los eventos de "Jurassic World". Seis adolescentes son seleccionados para vivir una aventura única: acampar en una zona cercana a la Isla Nublar. Sin embargo, cuando los dinosaurios escapan de sus jaulas y crean el caos, estos jóvenes deben sobrevivir en un entorno hostil.

            A lo largo de la aventura, te enfrentarás a varias decisiones que influirán en el desarrollo de la trama. Por ejemplo, en un episodio, los campistas visitan un laboratorio de genética, pero una serie de eventos desafortunados libera una bandada de pteranodones, obligando al equipo a refugiarse bajo tierra.

            En otro episodio, los campistas deben llegar al muelle principal y tomar el último ferry para abandonar la isla. Las decisiones que tomes durante estos eventos determinarán si los personajes logran escapar de la isla o no.

            Te recomiendo que veas la aventura interactiva en Netflix para disfrutar de la experiencia completa. ¡Espero que te diviertas decidiendo el destino de los personajes en esta emocionante aventura interactiva! 😊.
        </p>
        <div class="buttons">

            <a class="btn btn-primary mb-3 custom-text-color" asp-action="Create" asp-controller="Threat">Leer cuento</a>

        </div>

    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Regresar a la lista</a>
</div>
