@{
    ViewData["Title"] = "Jurasico1";
}

<h1>@ViewData["Title"]</h1>

<hr />

<div id="container">
    <div id="left-side">
        <img src="~/images/dinosaurio.jpg" alt="Imagen de dinosaurio" />
    </div>
    <div id="right-side">
        <p>
            Un chico se despierta desconcertado cerca de lo que parece ser unos huevos de dinosaurio, los cuales tienen mal olor. Se asusta por un dinosaurio que estaba a su costado y grita asustadamente.
        </p>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Regresar a la lista</a>
</div>
