@model SecureAssetManager.Models.Fin

@{
    ViewData["Title"] = "Jurasico 9.1";
}

<h2 style="font-size: 2em;">@ViewData["Title"]</h2>

<div id="container" style="display: flex; justify-content: center;">
    <div class="img-container" style="margin-right: 20px;">
        <img src="~/img/sonido.jpg" alt="Imagen de dinosaurio" class="img-fluid" style="max-width: 450px;" />
    </div>
    <div class="img-container">
        <img src="~/img/rojo.jpg" alt="Imagen de dinosaurio" class="img-fluid" style="max-width: 450px;" />
    </div>
</div>

<div id="right-side">
    <p style="font-size: 2em;">
        Luego el velociraptor los persigue pero el Darius se le ocurre dejar el video de los velociraptors peleando lo que le hace distraer y el grupo de amigos logran salir corriendo y se preguntan a donde deben ir ya que es como un laberinto
    </p>
</div>


<div class="text-right mt-3">
    <a asp-controller="Fin" asp-action="Index" style="float: right; font-size: 1.5em;">Página siguiente</a>
</div>

<style>
    .img-container {
        display: inline-block;
    }
</style>