@model IEnumerable<SecureAssetManager.Models.Fin>

@{
    ViewData["Title"] = "Jurasico 9.2";
}

<h2 style="font-size: 2em;">@ViewData["Title"]</h2>

<div id="container" style="display: flex; justify-content: center;">
    <div class="img-container" style="margin-right: 20px;">
        <img src="~/img/segu.jpg" alt="Imagen de dinosaurio" class="img-fluid" style="max-width: 450px;" />
    </div>
    <div class="img-container">
        <img src="~/img/venti.jpg" alt="Imagen de dinosaurio" class="img-fluid" style="max-width: 450px;" />
    </div>
</div>

<div id="right-side">
    <p style="font-size: 2em;">
        Hasta encontrar las camaras de seguridad, pequeños velociraptores se abalanzaron sobre ellos cuando les comienzan a atacar velociraptors pequeños en manada, pero logran deshacerse de ellos encerrandolo en el cuarto rapidamente.
    </p>
</div>


<form method="post">
    <div class="d-flex justify-content-between">
        <button class="btn btn-info" type="submit" name="accion" value="Página anterior">Página anterior</button>
        <button class="btn btn-info" type="submit" name="accion" value="Página siguiente">Página siguiente</button>
    </div>
</form>

<style>
    .img-container {
        display: inline-block;
    }
</style>