@model SecureAssetManager.Models.Montaña

@{
    ViewData["Title"] = "Jurasico 12";
}

<h2>@ViewData["Title"]</h2>

<div id="container" style="display: flex; justify-content: space-between;">
    <div id="left-side" class="text-center">
        <img src="~/images/carro.jpg" alt="Imagen de dinosaurio 1" class="img-fluid" style="max-width: 300px; margin: 0 auto;" />
        <a class="btn btn-primary mb-3 custom-text-color" asp-action="Create" asp-controller="Vulnerability">Escapar en auto</a>
    </div>
    <div id="center" class="text-center">
        <p>
            Las dudas sobre Brinford y la discusión sobre subirse a la montaña rusa o escapar en el auto comiezan a llegar a sus discusiones, pero Darius escoge....
        </p>
    </div>
    <div id="right-side" class="text-center">
        <img src="~/images/rusa.jpg" alt="Imagen de dinosaurio 2" class="img-fluid" style="max-width: 300px; margin: 0 auto;" />
        <a class="btn btn-primary mb-3 custom-text-color" asp-action="Create" asp-controller="Dietas">Montaña rusa</a>
    </div>
</div>

