@model IEnumerable<SecureAssetManager.Models.Montaña>

@{
    ViewData["Title"] = "Jurasico 13";
}

<h2 style="font-size: 2em;">@ViewData["Title"]</h2>

<div id="container">
    <div id="left-side" class="text-center">
        <img src="~/images/ganar.jpg" alt="Imagen de dinosaurio" class="img-fluid" style="max-width: 600px; margin: 0 auto;" />
    </div>
    <div id="right-side">
        <p style="font-size: 1.8em;">
            Darius y sus amigo triunfan de manera espectacular al lograr distraer a los dinosaurios y asegurarse las provisiones del bunker. Como gesto de reconocimiento, les entregan una emocionante recompensa: una funda de papas fritas. Mientras se alejan del peligro, la victoria palpita en el aire.
        </p>
    </div>
</div>


<div class="text-right mt-3">
    <a asp-controller="Asset" asp-action="Create" style="float: right;">Repetir Cuento</a>
</div>
