@model SecureAssetManager.Models.Victoria

@{
    ViewData["Title"] = "Jurasico 9.1";
}

<h2 style="font-size: 2em;">@ViewData["Title"]</h2>

<div id="container" style="display: flex; justify-content: center;">
    <div class="img-container">
        <img src="~/images/encuentra.jpg" alt="Imagen de dinosaurio" class="img-fluid" style="max-width: 500px;" />
    </div>
</div>

<div id="right-side">
    <p style="font-size: 2em;">
         El grupo encuentra una nota desechada que indica una pista para encontrar el sitio donde esta la comida.
    </p>
</div>


<div>
    <form method="post">
        <div class="d-flex justify-content-end">
            <button class="btn btn-info" type="submit" name="accion" value="Página siguiente">Repetir Cuento</button>
        </div>
    </form>
</div>

<style>
    .img-container {
        display: inline-block;
    }
</style>
